.search-country-wrapper {
  padding-top: 40px;

  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: 8px;
}

.search-input {
  width: 250px;
}

.country-info {
  display: flex;
  flex-direction: column;
  gap: 2px;

  box-shadow: rgba(0, 0, 0, 0.2) 0 8px 24px,
              rgba(0, 0, 0, 0.2) 0 4px 24px;
}

.search-output-wrapper {
  margin-top: 32px;
  padding: 8px;

  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 12px;
}

.search-output-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
}